@model _cubits.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Person</h1>
<hr />
<div class="row">
    <div class="col-md-">
        <form id="personForm">
            <div class="d-flex justify-content-around">
                <div class="card col-12 text-center bg-light align-items-center shadow-lg">
                    <h4 class="m-3">Create Passager</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">FirstName</label>
                                <input name="firstName" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">LastName</label>
                                <input  name="lastName" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Dni</label>
                                <input  name="dni" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input  name="email" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">

                         <button type="submit" class="btn btn-primary"> Crear</button> &nbsp;

                            <a asp-action="Index">
                                <input type="button" class="btn btn-danger" value="Back to Index">
                            </a>
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        serializeForm = () => {
            var model = {
                firstName: getInputValue("firstName"),
                lastName: getInputValue("lastName"),
                email: getInputValue("email")
            };

            return JSON.stringify(model);
        };

        getInputValue = (input) => {
            let value = $(`#personForm input[name=${input}]`).val();

            if (isNaN(value)) {
                return value;
            }

            return parseFloat(value);
        };

        saveProduct = () => {
                            console.log('hola')
            $.ajax({
                method: "POST",
                url: "/Api/Person",
                contentType: "application/json",
                data: serializeForm(),
            }).done(() => {
                redirectToLocation("/persons");
            })
        };

        handleSubmit = () => {
            $("#personForm").on("submit", (event) => {
                event.preventDefault();
                saveProduct();
            });
        }

        $(document).ready(() => {
            handleSubmit();
        });
    </script>
}