@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-">
        <div class="d-flex justify-content-around">
            <div class="card col-12 text-center bg-light align-items-center shadow-lg">
                <h1>Ticket Center</h1>
            </div>
            <br>
        </div>
    </div>
</div>

